.container{
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.item{
    margin: 5px;
    background-color: coral;
    text-align: center;
    font-size: 1.5em;
    flex: 1; 
}

h1{
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.5em;
    font-weight: 600;
}

.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column;
}

.column-reverse{
    flex-direction: column-reverse;
}